@model IEnumerable<Neighbours.Web.Areas.Private.Models.Communities.CommunityViewModel>
@{
    ViewBag.Title = "All";
}
<div class="row-mine">
    @Html.DisplayFor(i => i, "CommunityViewModelList")

</div>