body {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

/*Kendo upload button*/
.k-button.k-upload-button {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    cursor: pointer;
}

.k-button.k-upload-button:hover {
    cursor: pointer;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.my-alert{
    padding: 5px;
    vertical-align:middle;
}

.datepicker-block{
    display:block;
}

.modal-content{
    padding:20px;
}