@model IEnumerable<Neighbours.Web.Models.Communities.CommunityViewModel>
@using Neighbours.Web.Models.Communities
@{
    ViewBag.Title = "Demo Home";
}

@{
    Html.RenderAction("Index", "Statistics");
}

<div class="container infinite-scroll row-mine">

    @Html.Partial("_CommunityRow", Model)

</div>
@Html.Partial("_Loading")
@section scripts{
    <script src="~/Scripts/site/infiniteScroll.js"></script>
    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = '/Home/GetCommunities';

        $(window).scroll(scrollHandler);
        //var interval = null;
        //(function () {
        //    interval = setInterval(function () {
        //        if ($("body").height() > $(window).height() || page >= 1) {
        //            clearInterval(interval);
        //        }
        //        scrollHandler();
        //        console.log(1);
        //    }, 10);
        //})();
    </script>
}