@model Neighbours.Web.Models.Home.StatisticsViewModel

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome Neighbours</h1>
        <p class="text-center"><em>The statistics are updated every 10 minutes</em></p>
        <div></div>
        <p class="col-md-4 text-center"><b>Cities: @Model.CitiesCount</b></p>
        <p class="col-md-4 text-center"><b>Users: @Model.UsersCount</b></p>
        <p class="col-md-4 text-center"><b>Communities: @Model.CommunitiesCount</b></p>
    </div>
</div>




